body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h1{ position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.container {display: flex;
    justify-content: center;
    
    text-align: center;
}



.game {
    margin-bottom: 20px;
}

.btn {
    padding: 5px 20px;
    margin: 30px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #45a049;
}

#result {position: relative;
    padding: 22px;
   color: #4caf50;
    font-size: 20px;
    font-weight: bold;
}
